.App {
  text-align: center;
}

.container{
  position: absolute;
  top: 50%;
  left : 50%;
  transform: translate(-50%,-50%);
 
}

.image{
  margin-top: -80px;
}
.btn{
  outline: none;
  border: none;
  background: transparent;
}
.fa{  
  color : black;
}

.btn:hover{
    background:transparent;
    border: none;
}

.btn:focus .fa{
  
  color : #AE1438;
}

.btn:hover .fa{  
  color : #AE1438;
}